name: Ktlint Check

on:
    push:
        branches:
            - "**"

jobs:
    ktlint:
        name: Run ktlint check
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up JDK 21
              uses: actions/setup-java@v4
              with:
                   java-version: '21'
                   distribution: 'temurin'


            - name: Cache Gradle dependencies
              uses: actions/cache@v3
              with:
                    path: ~/.gradle/caches
                    key: gradle-${{ runner.os }}-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}
                    restore-keys: |
                        gradle-${{ runner.os }}-

            - name: Run ktlintCheck with Gradle
              run: ./gradlew ktlintCheck
