name: continuous integration on jactor-persistence
on:
  push:
    branches:
      - '**'

env:
  IMAGE: ghcr.io/${{ github.repository }}:latest

jobs:

  env:
    runs-on: ubuntu-latest
    name: debug environment

    steps:
      - run: cat $GITHUB_EVENT_PATH
      - run: env

  build:
    runs-on: ubuntu-latest
    name: Build jactor-persistence

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: temurin
          java-version: 25

      - name: Cache Gradle dependencies
        uses: actions/cache@v3
        with:
          path: ~/.gradle/caches
          key: gradle-${{ runner.os }}-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}
          restore-keys: |
            gradle-${{ runner.os }}-

      - run: ./gradlew :persistence:build --scan -x test
      - name: Verify dependencies
        run: |
          COUNT=$(./gradlew -q :persistence:dependencies | grep -c SNAPSHOT || true)

          echo "Found $COUNT SNAPSHOT dependencies"

          if [ "$COUNT" -gt 0 ]
          then
            >&2 echo ::error No SNAPSHOT dependencies allowed
          ./gradlew -q :persistence:dependencies
            exit 1;
          fi
      - name: Run tests with stack trace information
        run: ./gradlew :persistence:test --tests "*" --stacktrace --info
