name: verify pull request
on:
  pull_request:
    branches:
      - main

jobs:
  verify-pull-request:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-java@v4

        with:
          distribution: temurin
          java-version: 25

      - name: Cache Gradle dependencies
        uses: actions/cache@v4
        with:
          path: ~/.gradle/caches
          key: gradle-${{ runner.os }}-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}
          restore-keys: |
            gradle-${{ runner.os }}-

      - run: ./gradlew assemble
      - name: Verify persistence dependencies
        run: |
            COUNT=$(./gradlew -q :persistence:dependencies | grep -c SNAPSHOT || true)

            echo "Found $COUNT SNAPSHOT dependencies"

            if [ "$COUNT" -gt 0 ]
            then
              >&2 echo ::error No SNAPSHOT dependencies allowed
            ./gradlew -q :persistence:dependencies
              exit 1;
            fi
      - name: Verify web dependencies
        run: |
            COUNT=$(./gradlew -q :web:dependencies | grep -c SNAPSHOT || true)

            echo "Found $COUNT SNAPSHOT dependencies"

            if [ "$COUNT" -gt 0 ]
            then
              >&2 echo ::error No SNAPSHOT dependencies allowed
              ./gradlew -q :web:dependencies
              exit 1;
            fi
