name: continuous integration on jactor-web
on:
  push:
    branches:
      - '**'

jobs:

  env:
    runs-on: ubuntu-latest
    name: debug environment

    steps:
      - run: cat $GITHUB_EVENT_PATH
      - run: env

  build:
    runs-on: ubuntu-latest
    name: Build and test with gradle

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 25

      - name: Cache Gradle dependencies
        uses: actions/cache@v4
        with:
          path: ~/.gradle/caches
          key: gradle-${{ runner.os }}-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}
          restore-keys: |
            gradle-${{ runner.os }}-

      - run: ./gradlew :persistence:ktlintCheck
      - run: ./gradlew :web:build --scan -x test
      - run: ./gradlew :web:test --tests "*" --stacktrace
